{% extends 'base.html' %}
                {% block head %}
		<title>Sustainability Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="WWU Sustainability Dashboard">
		<meta name="author" content="Schiller, Dyche, Caci, Hajy">
                {% endblock %}
                {% block headjavascript %} 
			<script type="text/javascript">
                            currResource = 'water';
                            currBuilding = 'bh';
                            $(function() { 
                        $.getJSON('/data/'+currResource + '/' + currBuilding + '.json', function(data) { 

			// Create the chart
			window.chart = new Highcharts.StockChart({
				chart : {
					renderTo : 'container'
				},

				rangeSelector : {
					selected : 1
				},

				title : {
					text : currResource + ' usage in ' +  currBuilding
				},

				series : [{
					name :  currBuilding+ ', ' + currResource,
					data : data,
					type : 'area',
					threshold : null,
					tooltip : {
						valueDecimals : 2
					},
					fillColor : {
						linearGradient : {
							x1: 0, 
							y1: 0, 
							x2: 0, 
							y2: 1
						},
						stops : [[0, Highcharts.getOptions().colors[0]], [1, 'rgba(0,0,0,0)']]
					}
				}]
			});
		});
	});

			</script>
                        {% endblock %}
    {% block content %}
      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
      <!--TODO: replace this table with some CSS -->

<div class="container-fluid hero-unit">
  <div class="row-fluid">
<div class="navbar">
      <div class="navbar-inner">
	<a class="brand" href="#">BALLER</a>
	<ul class="nav">
	  {% for resource in resources %}
          <li><a href="javascript:void(0)" onclick="currResource='{{ resource }}'; updateGraph();">{{ resource.capitalize() }}</a></li> <!--TODO: add an onclick attribute to these and a javascript function to call on /data/<resource>/<building>.json -->
	  {% endfor %}
	</ul>
      </div> <!-- navbar -->
</div> <!-- navbar inner -->
  </div> <!-- row -->
  <div class="row-fluid">
    <div class="span3" style="min-height:0">
    <ul class="nav nav-list">
      {% for b, name in buildings %}
      <li><a href="javascript:void(0)" onclick="currBuilding='{{ b }}'; updateGraph();">{{ '{} ({})'.format(name, b.upper()) }}</a></li>
      {% endfor %}
    </ul>
    </div> <!-- sidebar -->
    <div class="span9" id="container" style="position:relative; display:block; height:100%; min-height:0;">
    </div>
  </div> <!-- row -->
</div> <!-- container -->
    {% endblock %}
    {% block javascript %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/dash.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.js"></script>
<script src="/static/js/highstock.js"></script>
<script src="/static/js/modules/exporting.js"></script>
    {% endblock %}
